S3method(abstract,bibentry)
S3method(browse,bibentry)
export(abstract)
export(authority)
export(browse)
export(content)
export(count)
export(database)
export(efetch)
export(efetch.batch)
export(egquery)
export(einfo)
export(elink)
export(epost)
export(error)
export(esearch)
export(esummary)
export(lineage)
export(parent)
export(query)
export(queryKey)
export(queryTranslation)
export(retmax)
export(retmode)
export(retstart)
export(rettype)
export(sciName)
export(synonym)
export(taxId)
export(taxRank)
export(taxon)
export(uid)
export(webEnv)
exportClass(efetch)
exportClass(egquery)
exportClass(einfo)
exportClass(einfoDb)
exportClass(einfoDbList)
exportClass(elink)
exportClass(epost)
exportClass(esearch)
exportClass(esummary)
exportClass(eutil)
exportClass(taxon)
exportClass(taxonList)
exportClass(uid)
exportClass(uidList)
exportClass(webenv)
exportMethods(authority)
exportMethods(c)
exportMethods(content)
exportMethods(count)
exportMethods(database)
exportMethods(error)
exportMethods(lineage)
exportMethods(parent)
exportMethods(query)
exportMethods(queryKey)
exportMethods(queryTranslation)
exportMethods(retmax)
exportMethods(retmode)
exportMethods(retstart)
exportMethods(rettype)
exportMethods(sciName)
exportMethods(synonym)
exportMethods(taxId)
exportMethods(taxRank)
exportMethods(uid)
exportMethods(webEnv)
exportMethods(write)
importFrom(Biostrings,"%in%")
importFrom(Biostrings,nchar)
importFrom(Biostrings,readAAStringSet)
importFrom(Biostrings,readDNAStringSet)
importFrom(Biostrings,unlist)
importFrom(RCurl,curlOptions)
importFrom(RCurl,curlUnescape)
importFrom(RCurl,getURL)
importFrom(RCurl,postForm)
importFrom(XML,free)
importFrom(XML,getNodeSet)
importFrom(XML,xmlChildren)
importFrom(XML,xmlDoc)
importFrom(XML,xmlGetAttr)
importFrom(XML,xmlName)
importFrom(XML,xmlParse)
importFrom(XML,xmlRoot)
importFrom(XML,xmlSApply)
importFrom(XML,xmlTreeParse)
importFrom(XML,xmlValue)
importFrom(XML,xmlSize)
importFrom(XML,xpathApply)
importFrom(XML,xpathSApply)
importFrom(biofiles,gbRecord)
importFrom(methods,is)
importFrom(methods,new)
importFrom(methods,show)
importFrom(methods,slotNames)
importFrom(rmisc,"%ni%")
importFrom(rmisc,"%||%")
importFrom(rmisc,blanks)
importFrom(rmisc,compact)
importFrom(rmisc,compactNA)
importFrom(rmisc,flatten)
importFrom(rmisc,is_empty)
importFrom(rmisc,not.null)
importFrom(rmisc,not_empty)
