S3method("[",idlist)
S3method(abstract,bibentry)
S3method(browse,bibentry)
S3method(print,idlist)
S3method(print,webenv)
export(abstract)
export(browse)
export(content)
export(ecount)
export(efetch.batch)
export(egquery)
export(einfo)
export(elink)
export(epost)
export(error)
export(esearch)
export(esummary)
export(query)
exportClass(efetch)
exportClass(egquery)
exportClass(einfo)
exportClass(einfoDb)
exportClass(einfoDbList)
exportClass(elink)
exportClass(epost)
exportClass(esearch)
exportClass(esummary)
exportClass(eutil)
exportClass(idlist)
exportClass(webenv)
exportMethods(c)
exportMethods(content)
exportMethods(error)
exportMethods(query)
exportMethods(write)
importFrom(Biostrings,"%in%")
importFrom(Biostrings,nchar)
importFrom(Biostrings,read.AAStringSet)
importFrom(Biostrings,read.DNAStringSet)
importFrom(Biostrings,unique)
importFrom(Biostrings,unlist)
importFrom(RCurl,curlOptions)
importFrom(RCurl,curlUnescape)
importFrom(RCurl,getURL)
importFrom(RCurl,postForm)
importFrom(XML,free)
importFrom(XML,getNodeSet)
importFrom(XML,xmlChildren)
importFrom(XML,xmlDoc)
importFrom(XML,xmlGetAttr)
importFrom(XML,xmlName)
importFrom(XML,xmlParse)
importFrom(XML,xmlRoot)
importFrom(XML,xmlSApply)
importFrom(XML,xmlTreeParse)
importFrom(XML,xmlValue)
importFrom(XML,xpathApply)
importFrom(XML,xpathSApply)
importFrom(biofiles,gbRecord)
importFrom(methods,is)
importFrom(methods,slotNames)
importFrom(rmisc,blanks)
importFrom(rmisc,flatten)
importFrom(rmisc,is_empty)
importFrom(rmisc,not.na)
importFrom(rmisc,not.null)
importFrom(rmisc,not_empty)
