S3method("[",idlist)
S3method(abstract,bibentry)
S3method(browse,bibentry)
S3method(print,idlist)
S3method(print,webenv)
export(abstract)
export(browse)
export(content)
export(ecount)
export(efetch)
export(efetch.batch)
export(egquery)
export(einfo)
export(elink)
export(epost)
export(error)
export(esearch)
export(esummary)
export(query)
exportClasses(efetch)
exportClasses(egquery)
exportClasses(einfo)
exportClasses(einfoDb)
exportClasses(einfoDbList)
exportClasses(elink)
exportClasses(epost)
exportClasses(esearch)
exportClasses(esummary)
exportClasses(eutil)
exportMethods(c)
exportMethods(show)
exportMethods(write)
import(RCurl)
import(XML)
importClassesFrom(Biostrings,XString)
importClassesFrom(Biostrings,XStringSet)
importFrom(Biostrings,read.AAStringSet)
importFrom(Biostrings,read.DNAStringSet)
importFrom(ape,read.dna)
importFrom(phangorn,read.aa)
